@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
MEDIA QUERY MANAGER
0 - 600 	PHONE 
600 - 900   TABLET_PORTIAL
900-1200 	TABLET-LANDSCAPE
1200-1800 	IS WHERE OUR NORMAL STYLE APPLY
1800 - * 	BIG DESCKTOP	
$breakpoint argument choices
- phone 
- tab-port
- tab-land
- big-descktop
ORDER base --> typography --> general layout --> grid --> page layout --> components
1em = 16px
*/

@mixin respond($breackpoint) {
  @if $breackpoint == big-desktop {
    @media (max-width: 112.5em) {
      @content;
    } // 1800px
  }

  @if $breackpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } // 1200px
  }

  @if $breackpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } // 900px
  }

  @if $breackpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } // 600px
  }
}
