@import "../variables.scss";
.footer-container {
  width: 100%;
  height: 100%;
  color: $gray-2;
  display: flex;
  flex-direction: column;

  // background: #000;
  .footer-content-container {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    border-bottom: 2px solid $gray-3;
    .google-map-container {
      flex: 0.8;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin-right: 16px;
      // border: 1px solid black;

      .google-map {
        width: 83%;
        height: 70%;
        border-radius: 24px;
        box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
        border: 8px solid $light-blue;
      }
    }

    .footer-content-top-container {
      flex: 1.14;
      height: 100%;
      // background-color: red;
      .footer-content-top {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        // background-color: black;
        .footer-content-left {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          // background-color: blue;
          .footer-left-details {
            // border: 1px solid white;
            width: 100%;
            height: 52%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-family: "Merri-sans";
            font-weight: 300;
            font-size: $medium;
            // background-color: blue;
            .details-name {
              width: 100%;
              height: 15%;
              display: flex;
              // background-color: green;
              align-items: center;
              justify-content: center;
              .name-icon {
                flex: 0.15;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                .footer-icon {
                  font-size: $xxx-large;
                }
              }
              .rose {
                width: 56px;
                height: 36px;
                color: white;
              }
              .name {
                font-size: $large;
              }
              .name-txt {
                flex: 0.5;
              }
              .open-times {
                flex: 0.5;
                display: flex;
                .time {
                  padding-left: 24px;
                }
              }
            }
          }
          .last-open-times {
            width: 100%;
            height: 15%;
            // background-color: red;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            .btn-footer-descktop {
              width: 90%;
              .termin-button {
                width: 100%;
              }
            }
          }
          .opening-times-mobile {
            display: none;
          }
        }
      }

      .btn-footer-mobile {
        width: 46%;
        height: 27%;
        display: flex;
        align-items: center;
        justify-content: center;
        // text-align: left;
        // border: 1px solid black;
        display: none;
      }
    }
  }

  .footer-content-bottom {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Merri-sans";
    // border: 1px solid #fff;
    .footer-copy-right {
      font-family: "Merri-sans";
      font-weight: 700;
      flex: 1;
      height: 50%;
      // border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $medium;
      color: $gray-2;
      letter-spacing: 0.7px;
      .copy-sign {
        // font-size: $xx-large;
        margin-top: 5px;
        text-align: center;
        color: $gray-3;

        width: 7%;
        .c-icon {
          font-size: $xxx-large;
        }
      }
      span {
        cursor: pointer;
        font-family: "Merri";
        font-weight: 900;
        &:hover {
          color: $light-blue;
        }
      }
    }
    .footer-social-media {
      .footer-impressum-mobile {
        display: none;
      }
      flex: 0.5;
      height: 50%;
      // border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .social-icon-container {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid black;
        height: 100%;
        text-decoration: none;
        color: #fff;

        .social-icon {
          // padding-top: 4px;
          width: 28px;
          height: 28px;
          // border: 1px solid black;
        }
      }
      .fb:hover {
        color: #3c99dc;
      }
      .ig:hover {
        color: #c13584;
      }
    }
    .footer-impressum {
      flex: 1;
      height: 50%;
      // border: 1px solid green;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a {
        // text-decoration: none;
        // padding-bottom: 4px;
        // border-bottom: 1px solid white;
        color: $gray-2;
        transition: all 0.3s ease;
      }
      a:hover {
        color: $light-blue;
      }
    }
  }
}

// ######################### MOBILE ########################

@media screen and (max-width: 480px) {
  .footer-container {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .footer-content-container {
      height: 88%;
      flex-direction: column;
      justify-content: space-evenly;
      // background-color: red;

      .google-map-container {
        align-items: center;
        flex: 0.33;
        .google-map {
          width: 95%;
          height: 80%;
          border: 4px solid $light-blue;
          border-radius: 8px;
        }
      }
      .footer-content-top-container {
        flex: 0.66;
        display: flex;
        flex-direction: column;
        // background-color: black;
        .footer-content-top {
          height: 90%;
          // background-color: green;
          .footer-content-left {
            // background-color: red;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer-left-details {
              // background-color: black;
              font-size: $medium;
              height: 50%;
              .details-name {
                justify-content: flex-start;
                height: 20%;
                .name-icon {
                  padding-right: 8px;
                  flex: 0.1;
                  .footer-icon {
                    font-size: $xx-large;
                  }
                }
                .rose {
                  width: 36px;
                  height: 26px;
                  color: white;
                }

                .name-txt {
                  flex: 0.8;
                  font-size: $small;
                }
                .open-times {
                  display: none;
                  flex: 0.52;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  .time {
                    padding-left: 0px;
                  }

                  .btn-footer-descktop {
                    display: none;
                  }
                }
              }
              .email-name {
                // background-color: red;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;

                .name-txt {
                  flex: 0.9;
                }
              }
            }
            .last-open-times {
              display: none;
            }
            .opening-times-mobile {
              // background-color: blue;
              // padding-left: 24px;

              width: 100%;
              // text-align: left;
              height: 50%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-evenly;
              .open-times {
                display: flex;
                margin-left: 8px;
                font-size: $small;
                .time {
                  margin-left: 16px;
                  font-size: $small;
                }
              }
            }
          }
        }
        .btn-footer-mobile {
          // background-color: #fff;
          width: 100%;
          height: 15%;
          display: block;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;

          .termin-button {
            width: 95%;
            height: 75%;
            .appointment-button {
              border-radius: 8px;
            }
          }
        }
      }
    }
    .footer-content-bottom {
      height: 10%;
      width: 100%;
      flex-direction: column-reverse;
      // background-color: #fff;
      align-items: center;
      justify-content: center;
      .footer-copy-right {
        width: 100%;
        height: 50%;
        // background-color: green;
        font-size: $small;
        color: $gray-3;
        justify-content: flex-start;
        font-size: $small;
        .copy-sign {
          margin-left: 4px;
        }

        span {
          color: $gray-3;
          font-size: $small;
        }
      }
      .footer-social-media {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        .social-icon-container {
          // padding-left: 8px;
          width: 25%;
          font-size: $small;
          color: $gray-2;
          align-items: center;
          justify-content: center;
          // background-color: #fff;
        }
        .footer-impressum-mobile {
          // background-color: blue;
          display: block;
          width: 100%;
          height: 100%;
          // background-color: yellow;
          font-size: small;
          display: flex;
          align-items: center;
          justify-content: space-between;

          a {
            color: $gray-2;
            padding-left: 8px;
          }
        }
      }
      .footer-impressum {
        display: none;
      }
    }
  }
}
