@import "../variables.scss";

.header-container {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #fff;
  opacity: 0.9;
  display: flex;
  // border-bottom: 1px solid $color-scale-blue-7;
  z-index: 100;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  // z-index: 1500;
  .hidden {
    display: none;
  }
  .hidden2 {
    display: hidden;
  }
  .logo-container {
    flex: 1;
    height: 100%;
    // background-color: red;
    .logo-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 1px solid red;
      .logo {
        width: 85%;
        height: 78%;
        // border: 1px solid black;
        // margin-left: 16px;
      }
    }
  }
  .social-container {
    flex: 2.25;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid green;

    .social-wrapper {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      z-index: 4000;
      // border: 1px solid yellow;

      .icons-container {
        // background-color: red;
        width: 20%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        :hover {
          color: #20ade4;
          // transform: rotate(-5deg);
          transform: scale(1.08);
          transition: all 0.2s ease;
        }
      }

      .icon {
        width: 32px;
        height: 32px;
        color: #1f5ca2;
      }
      .phone-icon-container {
        // border: 1px solid black;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 40%;
        height: 50%;
      }
      .header-phone-number {
        color: #1f5ca2;
        height: 100%;
        font-weight: 600;
        padding-left: 16px;
        align-self: center;
        height: 50%;
      }
    }
  }
  .navi-fake-container {
    flex: 0.75;
    height: 100%;
    // background-color: red;
  }
}
