@import "../variables.scss";

.header-container {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #fff;
  opacity: 0.75;
  display: flex;
  // border-bottom: 1px solid $color-scale-blue-7;
  z-index: 100;
  // z-index: 1500;
  .hidden {
    display: none;
  }
  .hidden2 {
    display: hidden;
  }
  .logo-container {
    flex: 1;
    height: 100%;
    // background-color: red;
    .logo-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 1px solid red;
      .logo {
        width: 85%;
        height: 78%;
        // border: 1px solid black;
        // margin-left: 16px;
      }
    }
  }
  .social-container {
    flex: 2.25;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid green;

    .social-wrapper {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      z-index: 4000;
      // border: 1px solid yellow;

      .icon {
        width: 32px;
        height: 32px;
        cursor: pointer;
        color: #1f5ca2;
        // padding-right: 90px;

        :hover {
          color: #20ade4;
        }
      }
    }
  }
  .navi-fake-container {
    flex: 0.75;
    height: 100%;
    // background-color: red;
  }
}
