@import "../variables.scss";
.home-page {
  max-width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: overlay;
  scroll-snap-type: y mandatory;
}
.hero-section {
  max-width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: end;
  .welcome-title-mobile-container {
    display: none;
  }
}

.hero-section2 {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  scroll-snap-align: end; // control where to stop after scrolling
  margin-top: 90px;

  .welcome-title-container {
    width: 60%;
    height: 15%;
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 0px;
    // border: 1px solid black;

    .welcome-title {
      height: 100%;
      font-size: 28px;
      letter-spacing: 1px;
      color: $gray-5;
      font-weight: 900;
      line-height: 42px;
      font-family: "Merri";
    }
  }

  .welcome-waves {
    width: 100%;
    height: 30%;
    background-image: url("../../../public/imgs/waves.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .welcome-content-container {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .welcome-last-1 {
      width: 100%;
      height: 140px;
      .welcome-content {
        font-size: $medium;
        margin-top: 0px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 28px;
        font-family: "Merri-sans";
        color: $gray-7;
      }
    }
    .welcome-last-2 {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .welcome-owner-txt {
        margin-top: 14px;
        height: 100%;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.75px;
        line-height: 32px;
        font-family: "Merri";
        cursor: pointer;
        color: $gray-7;
      }
      .welcome-owner-txt:hover {
        color: $light-blue;
      }
    }
    .welcome-btn {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: red;
    }
  }
}
.hero-section3 {
  height: calc(100vh - 94px);
  background-color: #fff;
  scroll-snap-align: end;
  margin-top: 94px;

  .last-section-container {
    width: 100%;
    height: 100%;
    background-color: $dark-blue;
    display: flex;
  }
}

// ------------------------------------------------- MOBILE DESIGN --------------------------------------

@media screen and (max-width: 480px) {
  .home-page {
    width: 100vh;
    height: 100%;
  }
  .hero-section {
    width: 100%;
    height: calc(100vh - 160px);
    background-color: #f2f2f2;
    // background-color: #fff;

    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .welcome-title-mobile-container {
      // background-color: black;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      .welcome-title-mobile {
        color: $gray-5;
        font-family: "Merri";
        font-size: $xxx-large;
        line-height: 42px;
        letter-spacing: 2px;
      }
    }
    .social-container {
      height: 90px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray-2;
      border-radius: 4px;
      .social-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .icons-container {
          .icon {
            font-size: $huge-mobile;
            color: $dark-blue;
          }
        }
      }
    }
  }
  .hero-section2 {
    justify-content: flex-start;
    // background-color: red;
    margin-top: 0;
    .welcome-title-container {
      display: none;
    }
    .welcome-waves {
      width: 100%;
      height: 25%;
    }
    .welcome-content-container {
      width: 95%;
      height: 65%;
      // background-color: blue;
      justify-content: space-evenly;

      .welcome-last-1 {
        width: 100%;
        height: 250px;
        // background-color: #fff;
        .welcome-content {
          font-size: $small;
          letter-spacing: auto;
          line-height: 24px;
        }
      }
      .welcome-last-2 {
        width: 100%;
        height: 75px;
        // background-color: green;

        .welcome-owner-txt {
          margin-top: 8px;
          height: 100%;
          font-size: $medium;
          font-weight: 600;
          letter-spacing: 0.75px;
          line-height: 32px;
          font-family: "Merri";
          cursor: pointer;
          color: $gray-7;
        }
      }
      .welcome-btn {
        height: 75px;
        // background-color: black;
      }
    }
  }
  .hero-section3 {
    height: 100vh;
    margin-top: 0px;
    .last-section-container {
      // background-color: red;
      height: calc(100% - 70px);
      display: flex;
    }
  }
}
