@import "../variables.scss";
.home-page {
  max-width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: overlay;
  scroll-snap-type: y mandatory;
}
.hero-section {
  max-width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.hero-section2 {
  width: 100%;
  height: 100vh;

  background-attachment: fixed;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  scroll-snap-align: start;

  .welcome-title-container {
    margin-top: 90px;
    width: 60%;
    height: 12vh;
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0px;
    // border: 1px solid black;

    .welcome-title {
      font-size: 28px;
      letter-spacing: 1px;
      color: #20ade4;
      font-weight: 900;
      // text-align: left;
      line-height: 40px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  }
  .welcome-waves {
    // border: 1px solid black;
    width: 100%;
    height: 30vh;
    background-image: url("../../../public/imgs/waves.jpg");
    // background-attachment: fixed;
    background-size: 100% 30vh;
    background-position: center;
    background-repeat: no-repeat;
  }
  .welcome-content-container {
    width: 70%;
    height: 60vh;
    // border: 1px solid black;

    border-radius: 8px;
    .welcome-content {
      font-size: 18px;
      color: $color-scale-gray-8;
      font-weight: 400;
      letter-spacing: 0.5px;
      line-height: 28px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    .welcome-owner-txt {
      font-size: 18px;
      color: #1f5ca2;
      font-weight: 600;
      letter-spacing: 0.75px;
      line-height: 32px;
      // transform: rotate(-3deg);
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      .welcome-owner {
        color: #1f5ca2;
        cursor: pointer;
        transform: rotate(-8deg);
      }
      .welcome-owner:hover {
        color: #20ade4;
        transform: rotate(-8deg);
      }
    }
    .termin-button {
      width: 100%;
      padding-top: 8px;
      .ayah-button {
        padding: 12px 20px;
        font-size: 18px;
        border-radius: 8px;
        border: 1px #1f5ca2 solid;
        cursor: pointer;
        background-color: #1f5ca2;
        // box-shadow: 0 0 4px #eee;
        color: $color-scale-white;
        text-decoration: none;
        font-weight: 600;
        transition: 0.2s;
      }
      :hover {
        border: 1px solid #20ade4;
        background-color: #20ade4;
        color: #fff;
      }
    }
  }
}
.hero-section3 {
  height: 100vh;
  background-color: $color-scale-gray-5;
  scroll-snap-align: start;

  .last-section-container {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;

    .footer-container {
      flex: 1.2;
      height: calc(100% - 120px);
      background-color: #3586ff;
      margin-top: 120px;
      color: #fff;
      position: relative;
      .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: #fff url("../../../public/imgs/wave-footer.png");
        background-size: 1000px 100px;
      }
      .wave#wave-1 {
        z-index: 100;
        opacity: 1;
        bottom: 0;
        animation: animateWave 4s linear infinite;
      }
      .wave#wave-2 {
        z-index: 99;
        opacity: 0.5;
        bottom: 10px;
        animation: animateWave2 4s linear infinite;
      }
      .footer-content-container {
        // background-color: red;
        // border: 1px solid white;
        margin-top: 100px;
        height: calc(100% - 100px);
        // background-color: red;
        .footer-content-top {
          width: 100%;
          height: 63%;
          // background-color: red;
          border-bottom: 1px solid #fff;
          display: flex;
          .footer-content-left {
            flex: 1.1;
            height: 100%;
            // background-color: black;
            display: flex;

            .footer-left-details {
              width: 100%;
              height: 100%;
              text-align: left;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              .details-name {
                width: 100%;
                height: 15%;
                display: flex;
                // background-color: green;
                align-items: center;
                justify-content: center;
                .name-icon {
                  flex: 0.25;
                  text-align: center;
                  // border: 1px solid white;
                }
                .rose {
                  width: 56px;
                  height: 36px;
                  color: white;
                }
                .name {
                  font-size: 20px;
                }
                .name-txt {
                  flex: 0.9;
                }
              }
            }
          }
          .footer-content-right {
            flex: 0.9;
            height: 90%;
            // background-color: green;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 2.5%;
            // border: 1px solid white;
            .content-right-title {
              // border: 1px solid white;
              width: 100%;
              height: 20%;
              color: white;
              // background-color: #fff;
              // font-size: 20px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }
            .content-right-title2 {
              // border: 1px solid white;
              // color: black;
              width: 100%;
              height: 20%;
              // background-color: #fff;
              display: flex;
              // font-size: 18px;
              display: flex;
              align-items: center;
              justify-content: center;
              .day {
                flex: 0.3;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
              }
              .time {
                flex: 0.7;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
              }
            }
          }
        }
        .footer-content-middle {
          width: 100%;
          height: 17%;
          border-bottom: 1px solid #fff;
        }
        .footer-content-bottom {
          width: 100%;
          height: 20%;
          // border-bottom: 2px solid #fff;
          // background-color: red;
        }
      }
    }
    @keyframes animateWave {
      0% {
        background-position-x: 1000px;
      }
      100% {
        background-position-x: 0px;
      }
    }
    @keyframes animateWave2 {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: 1000px;
      }
    }
    .google-map-container {
      flex: 0.8;
      height: calc(100% - 120px);
      background-color: none;
      margin-top: 120px;
      .google-map {
        width: calc(100% - 16px);
        height: 100%;
        // border: 4px solid blue;
      }
    }
  }
}
