@import "../../variables.scss";
.kids-page-container {
  max-width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: overlay;
  scroll-snap-type: y mandatory;
  position: relative;
  //   background-color: red;
  .kids-first-container {
    scroll-snap-align: end;
    margin-top: 90px;
    width: 100%;
    height: calc(100% - 90px);
    // background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .kids-treatment-container {
    scroll-snap-align: end;
    // margin-top: 90px;
    width: 100%;
    height: calc(100% - 90px);
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .kids-eight-container {
    scroll-snap-align: end;
    // margin-top: 90px;
    width: 100%;
    height: calc(100% - 90px);
    // background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $dark-blue;
    position: absolute;
    z-index: 100;
  }
}

@media screen and (max-width: 480px) {
  .kids-page-container {
    margin-bottom: 70px;
    width: 100vw;
    height: 100%;
    .kids-first-container {
      height: calc(100vh - 160px);
    }
    .kids-treatment-container {
      height: calc(100vh - 160px);
    }
    .kids-eight-container {
      height: calc(100vh - 160px);
      background-color: $dark-blue;
    }
  }
}
