@import "../../variables.scss";
.about-us-container {
  max-width: calc(100vw);
  height: 100vh;
  scroll-behavior: smooth;
  overflow: overlay;
  scroll-snap-type: y mandatory;
  // overflow: hidden;

  .landing-container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    scroll-snap-align: end;

    .upper-teath {
      // margin-top: 90px;
      width: 684px;
      height: 250px;
      background-image: url("../../../../public/imgs/up-teath.png");
      background-size: 100% 100%;
      background-position: bottom;
      position: absolute;
      top: -37px;
      animation: MoveUpDown 2.5s linear 1;
    }
    .about-us-content-container {
      margin-top: 240px;
      width: 100%;
      height: calc(100vh - 240px);
      background-color: #fff;
      animation: fadein 4s;
      .about-us-content {
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        h1 {
          width: 60%;
          font-size: 28px;
        }
      }
    }
    .footer-teath {
      width: 684px;
      height: 250px;
      background-image: url("../../../../public/imgs/down-teath.png");
      background-size: 100% 100%;
      background-position: top;
      position: absolute;
      bottom: -250px;
      // margin: 0 auto;
      // display: none;
      animation: MoveDowunUp 2.5s linear 1;
    }

    @keyframes MoveUpDown {
      0% {
        top: -160px;
      }

      50% {
        top: 22vh;
      }
      85% {
        top: -160px;
      }
      100% {
        top: -37px;
      }
    }
    @keyframes MoveDowunUp {
      0%,
      85% {
        bottom: -250px;
      }

      50% {
        bottom: 22vh;
      }
    }
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      75% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .secound-section-container {
    width: 100%;

    height: calc(100vh - 90px);
    background-color: $dark-blue;
    scroll-snap-align: end;
  }
}
