body {
  margin: 0;
  padding: 0;

  /* background-color: blue; */
}

/* ::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 8px;
  display: block;
}

::-webkit-scrollbar-thumb {
  color: #eee;
  text-decoration: none;
} */
