html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}
@font-face {
  font-family: "Merri";
  src: url("./fonts/Merriweather/Merriweather-Black.ttf"),
    url("./fonts/Merriweather/Merriweather-BlackItalic.ttf"),
    url("./fonts/Merriweather/Merriweather-BoldItalic.ttf"),
    url("./fonts/Merriweather/Merriweather-Italic.ttf"),
    url("./fonts/Merriweather/Merriweather-Light.ttf"),
    url("./fonts/Merriweather/Merriweather-LightItalic.ttf"),
    url("./fonts/Merriweather/Merriweather-Regular.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Merri";
  src: url("./fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Merri";
  src: url("./fonts/Merriweather/Merriweather-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merri";
  src: url("./fonts/Merriweather/Merriweather-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merri";
  src: url("./fonts/Merriweather/Merriweather-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merri-sans";
  src: url("./fonts/Merriweather_Sans/static/MerriweatherSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Merri-sans";
  src: url("./fonts/Merriweather_Sans/static/MerriweatherSans-Medium.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Merri-sans";
  src: url("./fonts/Merriweather_Sans/static/MerriweatherSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merri-sans";
  src: url("./fonts/Merriweather_Sans/static/MerriweatherSans-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 90px;
}

@media screen and (max-width: 480px) {
  html {
    overflow: hidden;
    width: 100%;
  }
  body {
    font-size: 1.4rem;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
